 # This file can be renamed into `nx-cloud.env` and updated with a correct read-write token
 # It will allow to populate the remote cache while running local operations
 # For more information, see https://nx.dev/ci/recipes/security/access-tokens

 NX_CLOUD_ACCESS_TOKEN=DEV_NX_TOKEN
