<form [formGroup]="form" (submit)="submit()">
  <mat-form-field>
    <mat-label>Width</mat-label>
    <input matInput formControlName="width" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input matInput formControlName="height" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pattern</mat-label>
    <mat-select formControlName="pattern">
      @for (pattern of patterns; track pattern) {
      <mat-option [value]="pattern.pattern">{{ pattern.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-button type="submit">Apply</button>
</form>
