<div class="page-container">
  <h2>Conway's game of life</h2>
  <mat-tab-group>
    <mat-tab label="How it works">
      <div class="textual-content">
        <p>
          Conway's Game of Life is a classic cellular automaton created by
          mathematician John Conway in 1970. It is a zero-player game, meaning
          its evolution is determined by its initial state with no further input
          from humans. The game is played on a two-dimensional grid where each
          cell can be in one of two states: alive or dead.
        </p>

        <p>The evolution of the system is governed by four simple rules:</p>

        <ol>
          <li>
            Any live cell with fewer than two live neighbors dies, as if by
            underpopulation.
          </li>
          <li>Any live cell with two or three live neighbors survives.</li>
          <li>
            Any live cell with more than three live neighbors dies, as if by
            overpopulation.
          </li>
          <li>
            Any dead cell with exactly three live neighbors becomes a live cell,
            as if by reproduction.
          </li>
        </ol>

        <p>
          Despite its simplicity, Conway's Game of Life can produce complex and
          fascinating patterns, including gliders, oscillators, and spaceships.
          It has become a classic example of emergent complexity in cellular
          automata.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Simulation">
      <ml-life-game-config-form
        (update)="gameConfigUpdateSubject.next($event)"
      ></ml-life-game-config-form>

      @if(gameConfig$ | async; as gameConfig) {
      <ml-life-game-engine
        [width]="gameConfig.width"
        [height]="gameConfig.height"
        [pattern]="gameConfig.pattern"
      ></ml-life-game-engine>

      }
    </mat-tab>
  </mat-tab-group>
</div>
