<mat-toolbar id="toolbar" color="primary">
  <h1>Math Life</h1>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="home" mat-menu-item>Home</a>
      <a routerLink="conway-game-of-life" mat-menu-item
        >Conway's game of life</a
      >
      <a routerLink="lenia" mat-menu-item>Lenia</a>
    </mat-menu>
  </div>
</mat-toolbar>

<main class="mat-app-background">
  <router-outlet></router-outlet>
</main>
