<div class="page-container">
  <div class="textual-content">
    <h2>A website about cellular automata</h2>
    <p>
      This website is a pedagogical project crafted as an exercise to delve into
      the realms of Rust and Web Assembly. Join us as we explore the captivating
      universe of cellular automata, bringing together the power of programming
      languages and the wonders of the digital realm.
    </p>

    <h3>What are cellular automata?</h3>
    <p>
      Cellular automata are mesmerizing mathematical models that unfold
      intricate patterns and behaviors through simple rules. Originating from
      the realm of theoretical computer science, these systems consist of a grid
      of cells, each existing in a specific state. The beauty lies in the
      evolution of the entire system, as each cell's state changes over discrete
      time steps based on a set of predefined rules.
    </p>
    <p>
      Why are cellular automata so interesting? They serve as playgrounds for
      exploring emergent complexity, demonstrating how simplicity in rules can
      lead to astonishingly complex and unpredictable outcomes. These systems
      are not only captivating for enthusiasts of computer science but also
      serve as powerful educational tools, offering insights into computation,
      self-organization, and the foundations of artificial life.
    </p>

    <h3>How do cellular automata Work?</h3>

    <p>
      At the core of cellular automata lies the essence of simplicity breeding
      complexity. Imagine a grid where each cell is a tiny universe, existing in
      one of several states. The state of each cell evolves over time based on a
      set of rules, typically determined by the states of its neighboring cells.
      These rules serve as the driving force, orchestrating the mesmerizing
      dance of patterns and forms within the automaton.
    </p>
    <p>
      Through this website, we will explore the fundamentals of cellular
      automata, from their basic principles to advanced concepts. Whether you're
      a seasoned programmer or a curious learner, we invite you to unravel the
      magic of computation and complexity that unfolds within these digital
      landscapes.
    </p>

    <h3>Famous Example:</h3>
    <p>
      One of the most iconic examples of cellular automata is Conway's Game of
      Life. Created by mathematician John Conway in 1970, this simple yet
      profound automaton has captivated minds for decades. Governed by just four
      rules, the Game of Life showcases the birth, survival, and death of cells
      in a two-dimensional grid, creating dynamic and ever-changing patterns.
    </p>
    <p>
      But Conway's Game of Life is just the beginning. Throughout our journey,
      we'll also delve into other renowned examples like Lenia, a continuous
      cellular automaton that introduces a spectrum of states and evolves in a
      fluid, wave-like fashion. Explore these famous examples and discover the
      rich tapestry of possibilities that cellular automata unfold.
    </p>

    <p>
      Embark on this educational adventure with us, and let the mesmerizing
      world of cellular automata spark your curiosity and creativity. Happy
      exploring!
    </p>
  </div>
</div>
